<div class="hotspots3D-inner">
     <div class="hotspots3D-canvas-container">
          <div class="hotspots3D-popup">
               <div class="hotspots3D-popup-close"></div>
               <img class="hotspots3D-popup-image" src="">
               <div class="hotspots3D-popup-title sub-title"></div>
               <div class="hotspots3D-popup-body"></div>
          </div>
     </div>
     <div class="hotspots3D-loader">Loading...</div>
</div>
